javacore*
jitdump*
.mvn
certificates
code/service-catalog/run-locally.sh
local.env

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

#openshift
appid-secrets.yaml
postgres-secrets.yaml
configmap-frontend.yaml
frontend-build-config.yaml

#various files
temp_information.txt

#fontend configs
env-config.js
env-config
-env-config

#env configs
local.env_tmp
local.env-tmp

#appid configs
add-redirecturis.json
add-roles.json
add-application.json

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

.gradle/
build/
.gradletasknamecache

*.log
graph-output.dot

.settings
.vscode
.project
.classpath
*.iml
.idea
.factorypath

settings.xml
quarkus.log

bin/
.DS_Store
ObjectStore

lsp/

*.swp
*.swo
